* {
    margin: 0px;
    padding: 0px;
}

/* 1 */
.topbar {
    background-color: #063970;
    /* Dark blue */
    color: white;
    font-weight: 600;
    padding: 0.4rem 1rem;
}

.brand-logo {
    height: 30px;
    margin-right: 8px;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #0dcaf0;
}

.btn-download {
    background-color: #00aaff;
    color: white;
    font-weight: 600;
    border: none;
}

.btn-download:hover {
    background-color: #0088cc;
}

/* 3 */
.hero {
    padding: 60px 0;
}

.doctor-img {
    max-width: 100%;
    border-radius: 30px;
}

.contact-box,
.stats-box {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.contact-icon {
    background: #e0f7f9;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    color: #00a5ad;
}

.cta-btn {
    background-color: #008b94;
    color: #fff;
}

.stat-icon {
    font-size: 30px;
    color: #00a5ad;
    margin-bottom: 10px;
}

.divider {
    height: 2px;
    background-color: #ddd;
    margin: 30px 0;
}